<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Presença</title>
    <link rel="stylesheet" href="../public/style/scan.css">
</head>
<link rel="icon" type="image/png" style="font-size: 256px;" sizes="1024x1024" href="../public/assets/logo.png">
<body>

    <div class="container">

        <div id="resultado" class="resultado">
            <h1 id="mensagem"></h1>
        </div>

        <div class="card">
            <div class="linha">
                <span>Turno</span>
                <strong id="turno"></strong>
            </div>
            
            <div class="linha">
                <span>Data</span>
                <strong id="data"></strong>
            </div>
            
            <div class="linha">
                <span>Entrada</span>
                <strong id="entrada"></strong>
            </div>

            <div class="linha">
                <span>Saída</span>
                <strong id="saida"></strong>
            </div>

            <div class="linha">
                <span>Status</span>
                <strong id="status"></strsaong>
            </div>
        </div>

        <a id="direction" class="btn">Voltar ao painel</a>

    </div>

<script src="../public/js/scan.js"></script>
</body>
</html>
